@font-face {
    font-family: 'NotoSansGeorgianThin';
    src: url('./static/NotoSansGeorgian-Thin.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: 'wght' 100;

}

@font-face {
    font-family: 'NotoSansGeorgianExtralight';
    src: url('./static/NotoSansGeorgian-ExtraLight.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: 'wght' 200;
}

@font-face {
    font-family: 'NotoSansGeorgianLight';
    src: url('./static/NotoSansGeorgian-Light.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 'wght' 300;
}


@font-face {
    font-family: 'NotoSansGeorgianRegular';
    src: url('./static/NotoSansGeorgian-Regular.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wght' 400;
}

@font-face {
    font-family: 'NotoSansGeorgianMedium';
    src: url('./static/NotoSansGeorgian-Medium.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wght' 500;
}

@font-face {
    font-family: 'NotoSansGeorgianSemiBold';
    src: url('./static/NotoSansGeorgian-SemiBold.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: 'wght' 600;
}

@font-face {
    font-family: 'NotoSansGeorgianBold';
    src: url('./static/NotoSansGeorgian-Bold.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: 'wght' 700;
}


@font-face {
    font-family: 'NotoSansGeorgianBlack';
    src: url('./static/NotoSansGeorgian-Black.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: 'wght' 900;
}






.noto-sans-georgian-regular {
    font-family: 'NotoSansGeorgianRegular';
    -moz-font-feature-settings: 'case'; -webkit-font-feature-settings: 'case'; font-feature-settings: 'case' on;

}

.noto-sans-georgian-extralight {
    font-family: 'NotoSansGeorgianExtralight';
    -moz-font-feature-settings: 'case'; -webkit-font-feature-settings: 'case'; font-feature-settings: 'case' on;

}

.noto-sans-georgian-light {
    font-family: 'NotoSansGeorgianLight';
    -moz-font-feature-settings: 'case'; -webkit-font-feature-settings: 'case'; font-feature-settings: 'case' on;

}
